body{
    background-image:url(../src/assets/fondo_total.png);
    background-repeat: repeat;
    background-size: cover;
}

header{
    background-color: aqua ;
    display: none;
}

main{
    display:flex;
    justify-content:space-between;
    width:100%;
    margin: auto;
    flex-wrap:wrap;
    
}

#score{
    background-image: url(../src/assets/score/score.png);
    width: 86px;
    height:62px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    --background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    >img{
        width: 36px;
        height: 33px;

    }
    :first-child{
        --background-color:red;
    }
    :last-child{
        --background-color: green;
        position: relative;
        top:30px
    }
}

#coin{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
}

#your_hand, #opp_hand{
    --background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    width:84px;
    height: 510px;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    div{
        width:84px;
        height: 102px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


#tablero{
    --background-color: lightgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:408px;
    height: 480px;
    margin: auto;
    padding-left:20px;
    padding-right:40px;
    padding-top: 0px;
    background-image: url(../src/assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    div{

        width:84px;
        height: 102px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}


.info{
    --display: flex ;
    position: relative;
    width: 14px;
    height: 14px;
    top:70%;
    left:17%;
}

.resultado{
    display: flex;
    position: relative;

    top:20%;
    left: 30%;
    >img{
       width: 16px;
       height: 24px; 
    }
}

.selected{
    display: flex;
    position: relative;
    width: 45px;
    left: 40%;
    bottom:  5px;

}
