

header{
    background-color: aqua ;
}

main{
    display:flex;
    justify-content:space-between;
    width:80%;
    margin: auto;
    flex-wrap:wrap;
    
}
#your_hand, #opp_hand{
    background-color: lightblue;
    display:flex;
    flex-wrap:wrap;
    width:20%;
    height: 500px;
    margin:auto;
    div{
        width:84px;
        height: 102px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

#tablero{
    --background-color: lightgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:408px;
    height: 480px;
    margin: auto;
    padding-left:20px;
    padding-right:40px;
    padding-top: 0px;
    background-image: url(../src/assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    div{
        width:84px;
        height: 102px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}


.info{
    --display: flex ;
    position: relative;
    width: 14px;
    height: 14px;
    top:70%;
    left:17%;
}


